<script type="text/ng-template" id="job-datatable-detail.directive.html">
    <h4>{{job.title}}</h4>
    <span style="float:left;margin-right: 100px">
        {{job.createdOn | date:'medium'}}
    </span>
    <span style="float:left;margin-right: 100px">
        postedBy:{{username}}
    </span>
    <span style="float:right" >
        <a ui-sref="job-application({openJobId:job.id})">Applicants</a>|
        <a ui-sref="job-rating({openJobId:job.id})">Rating</a>|
        <a ui-sref="job-status({openJobId:job.id})">Status</a>|
    </span>
    <div style="clear:both">

    </div>
    <p>
        {{job.shortDescription}}
    </p>
    <table class="table-borders">
        <thead>
            <tr>
                <th>Job #</th>
                <th>Job Type</th>
                <th>Profession</th>
                <th>Company</th>
                <th>Work Permit</th>
                <th>Status</th>  
                <th>Referal Fee</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{job.id}}</td>
                <td>{{job.type}}</td>
                <td>{{job.profession}}</td>
                <td>{{job.companyId}}</td>
                <td>{{job.workPermit}}</td>
                <td>{{job.status}}</td>
                <td>{{job.referralFee}}</td>
                <td>{{job.salary}}</td>
            </tr>
        </tbody>
    </table>
    <!-- <button type="submit"
    ui-sref="job-detail({id:job.id})"
    class="btn btn-info btn-sm">
    <span class="glyphicon glyphicon-eye-open"></span>
    <span class="hidden-xs hidden-sm"></span>
    </button> 
    <button type="submit"
    ui-sref="job.edit({id:job.id})"
    class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
    <span class="hidden-xs hidden-sm"></span>
    </button>
    <button type="submit"
    ui-sref="job.delete({id:job.id})"
    class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-remove-circle"></span>
    <span class="hidden-xs hidden-sm"></span>
    </button>-->
    <div  ng-if="isOwner">
        <button type="submit"
        ui-sref="job.edit({id:job.id})"
        class="btn btn-primary btn-sm">Edit
        </button>

        <button type="submit"
        ui-sref="job.delete({id:job.id})"
        class="btn btn-warning btn-sm">Close
        </button>
        <button type="submit"
        ui-sref="job.delete({id:job.id})"
        class="btn btn-danger btn-sm">Delete
        </button>
    </div>
</script>
<div>
    <h2>Jobs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding-left">
                <button class="btn btn-primary" ui-sref="job.new" >
                <span class="glyphicon glyphicon-plus"></span>
                <span >
                    Create new Job
                </span>
                </button>
                <!-- Single button -->
                <div class="btn-group pull-right" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-primary"  ng-class="vm.selectIDs.length == 0 ? 'disabled' : ''">Actions</button>
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-class="vm.selectIDs.length == 0 ? 'disabled' : ''">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a ng-click="addStatus()">Add Status</a></li>
                        <li role="menuitem"><a ng-click="deleteJobs()">Delete Jobs</a></li>
                        <li role="menuitem"><a ng-click="closeJobs()">Close Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" >
        <table class="jh-table table table-striped" id="job-table">
            <thead>
                <tr>
                    <th></th>
                    <th data-orderable="false"></th>
                    <th class="hidden"><span>ID</span></th>
                    <th><span>Title</span></th>
                    <!-- <th><span>Profession</span></th> -->
                    <th><span>Duration</span></th>
                    <!-- <th><span>Term</span></th> -->
                    <th><span>Referral Fee</span></th>
                    <!-- <th><span>Short Description</span></th>
                    <th><span>Long Description</span></th> -->
                    <th><span>Type</span></th>
                    <th><span>Status</span></th>
                    <!-- <th><span>Work Permit</span></th> -->
                    <!-- <th><span>Skill</span></th> -->
                    <!-- <th><span>Created On</span></th>
                    <th><span>Updated On</span></th> -->
                    <!-- <th><span>Job Group</span></th> -->
                    <!-- <th><span>Renewable</span></th> -->
                    <th><span>Salary</span></th>
                    <!-- <th><span>Job URL</span></th>
                    <th><span>Industry</span></th> -->
                    <!-- <th><span>Created By</span></th> -->
                    <!-- <th><span>Company Id</span></th> -->
                    <!-- <th><span>Attachement</span></th>
                    <th><span>Logo</span></th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in vm.jobs track by job.id" id="tr_{{job.id}}">
                    <td><input type="checkbox" ng-click="addCheck(job.id)"></td>
                    <td class="details-control" ng-click="rowExpanded[row.name]=!rowExpanded[job.id]"></td>
                    <td class="hidden"><a ui-sref="job-detail({id:job.id})">{{job.id}}</a></td>
                    <td>{{job.title}}</td>
                    <!-- <td>{{job.profession}}</td> -->
                    <td>{{job.duration}} {{job.term}}(S)</td>
                    <!-- <td>{{job.term}}</td> -->
                    <td>{{job.referralFee}}</td>
                    <!-- <td>{{job.shortDescription}}</td>
                    <td>{{job.longDescription}}</td> -->
                    <td>{{job.type}}</td>
                    <td>{{job.status}}</td>
                    <!-- <td>{{job.workPermit}}</td> -->
                    <!-- <td>{{job.skill}}</td> -->
                    <!-- <td>{{job.createdOn | date:'medium'}}</td>
                    <td>{{job.updatedOn | date:'medium'}}</td> -->
                    <!-- <td>{{job.jobGroup}}</td> -->
                    <!-- <td>{{job.renewable}}</td> -->
                    <td>{{job.salary}}</td>
                    <!-- <td>{{job.jobURL}}</td>
                    <td>{{job.industry}}</td> -->
                    <!-- <td>{{job.createdBy}}</td> -->
                    <!-- <td>{{job.companyId}}</td> -->
                    <!-- <td>{{job.attachement}}</td>
                    <td>{{job.logo}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" ng-if="vm.user.id==job.createdBy">
                            <button type="submit"
                            ui-sref="job-detail({id:job.id})"
                            class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                            ui-sref="job.edit({id:job.id})"
                            class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                            ui-sref="job.delete({id:job.id})"
                            class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <!-- <tr ng-repeat-end>
                    <td colspan="26">
                        <job-detail ng-model="job"></job-detail>
                    </td>

                </tr> -->
            </tbody>
        </table>
    </div>
    <!-- <div class="text-center">
        <button type="button" class="btn" ng-click="signoutSatellizer()">sign out satellizer</button>
        <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
        <button ng-click="authenticate('google')">Sign in with Google</button>
    </div>
    <button ng-click="authenticate('github')">Sign in with GitHub</button>
    <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
    <button ng-click="authenticate('instagram')">Sign in with Instagram</button>
    <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
    <button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
    <button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
    <button ng-click="authenticate('live')">Sign in with Windows Live</button>
    <button ng-click="authenticate('twitch')">Sign in with Twitch</button>
    <button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>
    <button ng-click="authenticate('spotify')">Sign in with Spotify</button>
</div>-->
<!-- <div class="text-center">
    <a ng-click="signoutSocialMedia()" class="btn btn-primary">
        <span class="fa fa-sign-out"></span>Sign out
    </a>
    <a g-login class="btn btn-social btn-google">
        <span class="fa fa-google"></span> Google
    </a>
    <a linked-in class="btn btn-social btn-linkedin">
        <span class="fa fa-linkedin"></span> LinkedIn
    </a>
    <a fb-login class="btn btn-social btn-facebook">
        <span class="fa fa-facebook"></span> FaceBook
    </a>
    <a wlive-login class="btn btn-social btn-microsoft">
        <span class="fa fa-windows"></span> Microsoft
    </a>
    <a class="btn btn-social btn-yahoo">
        <span class="fa fa-yahoo"></span> Yahoo
    </a>
</div> -->
</div>